*{
    margin: 0;
    padding: 0;
}
body{
    padding: 30px 0px 0px 60px;
    background-color: #0F0E0E;
    font-family: 'Darker Grotesque';
    color: #F5F5FD;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.logo h1{
    color: #A3CD27;
}
nav ul{
    list-style: none;
}
ul li{
    display: inline-block;
    font-size: 1.2em;
    padding: 0px 20px;
}
li a{
    text-decoration: none;
    color: white;
}
section{
    height: 100vh;
}
.topField{
    display: flex;
    color: white;
    margin-top: 4vh;

}
.topField .mainTalk{
    padding-right: 30px;
    
}
.topField h1{
    font-size: 60px;
    width: 100%;
}
.topField p{
    font-size: 28px;
    line-height: 37.97px;
    padding-top: 10px;
}
.topField button{
    padding: 35px 170px;
    color: #F5F5FD;
    font-size: 23px;
    font-weight: 600;
    background-color: #A3CD27;
}
.topField button:hover{
    background-color: #819747;
}
h1 span, button span, .article h2{
    color: #A3CD27;
}
.someButtons{
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    justify-content: space-around;
    width: 20%;
}
.Login, .getStart{
    background-color: #0F0E0E;
}
.getStart{
    padding: 0.65em 2em;
    font-size: 1.2em;
    color: white;
    border: 1px solid #A3CD27;
}
.Login{
    color: #A3CD27;
    font-size: 1.2em;
}
#Logistics{
    display: flex;
    padding-right: 40px;
}
.article{
    padding: 170px 20px 0px 0px;
}
.article h2{
    font-size: 50px;
}
.article p{
    font-size: 19px;
    width: 87%;
    line-height: 30.97px;
    padding-top: 10px;
}
.butnBelow{
    position: relative;
    margin-top: 5em;
    left: 15px;
    border: 1px solid #A3CD27;
    width: 23em;
    padding-bottom: 1em;
}
.butnBelow button{
    background-color: #0F0E0E;
    margin-left: -15px;
    margin-top: -15px;
    font-size: 16px;
    color: #F5F5FD;
    padding: 1.7em 9em 1.7em 8em;
    border: 1px solid #A3CD27;
}
.butnBelow button:active{
    transform: translateY(15px) translateX(15.2px);
}
.butnBelow button:focus{
    border: none;
}
.butnBelow button:focus:not(:focus-visible) {
    border:  1px solid #A3CD27;
    }

.asideSection{
    position: relative;
    bottom: 235px;
    left: 192px;
    width: 280px;
    height: 205px;
    border: 2px solid #E0F998;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 10px;
    color: #232323;
}
.embodiment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.writeUp h5{
    margin: 5px 0px;
    font-size: 12px;
    font-weight: 700;
}
.writeUp p{
    font-size: 8px;
}
.aCoverForAll{
    margin-top: 30px;
}
.address{
    margin-top: 15px;
}
.address, .addressIcons{
    display: flex;
    gap: 15px;
}
.grey, .greenish{
    background-color: #D2F270;
    display: flex;
    justify-content: center;
    width:40px;
    height:40px;
    border-radius: 20px;
}
.grey{
    background-color: #E8F9EE;
}
.green, .locationIcon img{
    align-self: center;
}

.green{
    background-color: #69870E;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
}
.locationIcon img{
    margin-top: 9px;
    width: 19px;
}
.line{
    margin-left: 20px; 
}
