*{
    margin: 0;
    padding: 0;
}
body{
    padding: 30px 0px 0px 60px;
    background-color: #0F0E0E;
    font-family: 'Darker Grotesque';
    color: #F5F5FD;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.logo h1{
    color: #A3CD27;
}
nav ul{
    list-style: none;
}
ul li{
    display: inline-block;
    font-size: 1.2em;
    padding: 0px 20px;
}
li a{
    text-decoration: none;
    color: white;
}
.topField{
    display: flex;
    color: white;
    margin-top: 4vh;
    height: 100vh;
}
.topField .mainTalk{
    padding-right: 30px;
    
}
.topField h1{
    font-size: 60px;
    width: 100%;
}
.topField p{
    font-size: 28px;
    line-height: 37.97px;
    padding-top: 10px;
}
.topField button{
    padding: 35px 170px;
    color: #F5F5FD;
    font-size: 23px;
    font-weight: 600;
    background-color: #A3CD27;
}
.topField button:hover{
    background-color: #819747;
}
h1 span{
    color: #A3CD27;
}
.someButtons{
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    justify-content: space-around;
    width: 20%;
}
.Login, .getStart{
    background-color: #1E1E1E;
}
.getStart{
    padding: 20px;
    font-size: 1.2em;
    color: white;
    border: 1px solid #A3CD27;
}
.Login{
    color: #A3CD27;

    font-size: 1.2em;
}
